<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Document cpf:</strong>
    <%= client.document_cpf %>
  </p>

  <p>
    <strong>Document cnpj:</strong>
    <%= client.document_cnpj %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Date birth:</strong>
    <%= client.date_birth %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= client.number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

</div>
