<div id="<%= dom_id comission %>">
  <p>
    <strong>Order:</strong>
    <%= comission.order_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comission.user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= comission.amount %>
  </p>

  <p>
    <strong>Payed:</strong>
    <%= comission.payed %>
  </p>

</div>
