<h1>Configurações</h1>

<table>
  <thead>
    <tr>
      <th>Chave</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @configurations.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td>
          <%= form_tag(app_configurations_path, method: :patch) do %>
            <%= text_field_tag "key_value[#{key}]", value %>
            <%= hidden_field_tag :key, key %>
            <%= submit_tag "Salvar" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>